<a class="card product-card scale-on-hover shadow-on-hover" href="<%= product.handle %>" target="_blank">
  <div class="product-card-header">
    <img src="<%= product.image %>" alt="<%= product.title %>" class="product-image" loading="lazy" />
    <% if (product.retailer_data?.thumbnail_url) { %>
    <img src="<%= product.retailer_data.thumbnail_url %>" alt="<%= product.retailer_data.name %>" class="retail-logo" />
    <% } %>
    <!-- CONFIRM USAGE -->
    <div class="chip indicator text-semibold">New!</div>
  </div>
  <div class="product-card-content">
    <p class="text-xxs text-semibold text-fg-subtle text-clip-1"><%= product.productTitle %></p>
    <%- include(__dirname + '/../shared/price-label.ejs', { product: product, formatPrice: data.formatPrice, showDiscount: data.showDiscount,
    getDiscountPercentage: data.getDiscountPercentage, index: index }) %>
  </div>
  <div class="divider-container">
    <div class="divider"></div>
  </div>
  <div class="product-card-footer">
    <p class="text-xxs text-fg-muted"><%= product.retailer %></p>
  </div>
</a>
