<a
  class="card product-card scale-on-hover shadow-on-hover"
  href="<%= product.handle %>"
  target="_blank"
  data-item="<%= JSON.stringify({ product_id: product.id, product_name: product.display_name, retailer_name: product.retailer?.name, retailer_id: product.retailer?.id, ad_click_event_tracking_id: product.ad_click_event_tracking_id }) %>"
>
  <div class="product-card-header">
    <div class="product-image-container">
      <img src="<%= product.image %>" alt="<%= product.title %>-placeholder" class="product-image product-image-placeholder" loading="lazy" />
      <img src="<%= product.image %>" alt="<%= product.title %>" class="product-image" loading="lazy" />
    </div>
    <% if (product.retailer?.thumbnail_url) { %>
    <img src="<%= product.retailer.thumbnail_url %>" alt="<%= product.retailer.name %>" class="retail-logo" />
    <% } %> <% if (showDiscount(product.discountable, getDiscountPercentage(product.base_price, product.price))) { %>
    <div class="chip chip-small indicator text-semibold bg-negative">-<%= getDiscountPercentage(product.base_price, product.price) %>%</div>
    <% } %>
  </div>
  <div class="product-card-content">
    <p class="text-xs text-semibold text-fg-subtle text-clip-1"><%= product.display_name %></p>
    <%- include(__dirname + '/../shared/price-label.ejs', { product: product, formatPrice: formatPrice, showDiscount: showDiscount,
    getDiscountPercentage: getDiscountPercentage, index: index }) %>
    <div class="divider"></div>
    <p class="text-xxs text-fg-muted"><%= product.retailer.name %></p>
  </div>
</a>
